
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    height: 100%;
  }
body{
    display: flex;
    flex-direction: column;
}
main{
    flex:1;
}

/* =========================
       NAVBAR
========================= */


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f6f4f1;
    overflow: hidden;
    padding: 12px 20px; 
}
.nav_list{
    list-style: none;      
    display: flex;         
    gap: 20px;           
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: medium;
    letter-spacing: 0.5px;
}
.nav_item{

    text-decoration: none;
}
.nav_item a {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color:black
}
.nav_item a:hover  {
    color:olive

}
.nav_item a {
    position: relative;
} 
.nav_item a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #111;
    transition: width 0.3s ease;
} 
.nav_item a:hover::after{
    width: 100%;
}
.logo img{
    height: 40px;
}
.lang-switch{
  text-align:right;
  font-size:14px;
}
.lang-switch a {
    position: relative;
    text-decoration: none;
    color: black;
    margin: 0 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.lang-switch :hover{
    color: olive;
}
/* Linha animada */
.lang-switch a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #111;
    transition: width 0.3s ease;
}

.lang-switch a:hover::after {
    width: 100%;
}

.lang-switch .active {
    font-weight: bold;
    cursor: default;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  @media (max-width: 680px) {
    .menu-toggle {
      display: block;
    }
  
    .navbar {
      position: relative;
      align-items: center;
    }

    .logo {
      display: none;
    }
  
    .nav_list {
      display: none;
      width: 100%;
      flex-direction: column;
      gap: 14px;
      padding-top: 8px;
      padding-left: 20px;
    }
  
    .nav_list.active {
      display: flex;
    }
  
    .lang-switch {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0; /* remove aquele margin-top: 8px */
      }
  
  
    }
/* =========================
       HERO
========================= */
.hero{
    height:100vh;
    background-image: url("/images/hero-bg.png");
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
}

.hero-content{
    max-width: 600px;
    color: rgb(129, 129, 92);
    text-align: left;
}

.hero-brand {
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(36, 36, 36);
    margin-bottom: 16px;
    font-weight: 500;
  }
  
  .hero-content h1 {
    font-size: 44px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.2;
  }

.hero-description {
    font-size: 17px;
    color: #555;
}

@media (max-width: 480px) {
    .hero {
      justify-content: center;
      padding: 0 24px;
    }
  
    .hero-content {
      text-align: center;
    }
  }


/* =========================
       ABOUT
========================= */
#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 100px;
    gap: 40px;
    background-color: #f9f9f9;

}

.about-text{
    max-width: 600px;
    margin-left: 80px;
}

.about-text h2{
    font-size: 34px;
    margin-bottom: 20px;
    color:#111;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    color:#333;
    margin-bottom: 60px;
}

.about-text .btn{
    display:inline-block;
    padding: 12px 24px;
    background-color: #555;;
    color:#fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s;
}

.about-text .btn:hover{
    background-color:#444;
}

.about-img {
    width:400px;
    max-width:100%;
    border-radius:12px;
    box-shadow:0 10px 20px rgba (0,0,0,0.1);
}

/*Responsive mobile*/
@media (max-width: 768px){
#about {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
}

.about-text{
    margin-left: auto;
}

.about-img {
    margin-top: 30px;
}

.about-img img {
    max-width: 280px;
    width: 100%;
}
}

.about-text .btn {
        width: 100%;
        text-align: center;
}
  

/* =========================
       SERVICE CARDS
========================= */
.services {
    padding: 20px 20px;
}

.services h2 {
    font-size:34px;
    margin-bottom:20px;
    color: #111;
    text-align:center;
}

.services h2::after {
    content:"";
    display:block;
    width:60px;
    height:4px;
    background: #111;
    margin:12px auto 0;
    border-radius:2px;
}

.service-cards {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    margin-top:40px;
}

.card {
    background-color: rgb(235, 235, 230);
    border-radius:12px;
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.08);
    padding:30px 20px;
    flex:1 1 250px;
    max-width:300px;
    text-align:center;
    transition:transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow:0 15px 15px rgba(0, 0, 0, 0.15);
}

.card h3 {
    font-size:22px;
    color: rgb(129, 129, 92);
    font-weight:300;
    margin-bottom:15px;
}

.card p {
    font-size:14px;
    line-height:1.5;
    color: #555;
}
/* =========================
        RESPONSIVO MOBILE
========================= */
@media (max-width: 768px) {
    .service-cards {
        display:grid;
        flex-direction: column;
        gap: 20px;
        margin-top: 15px;
        align-items: center;
        justify-content: center;
    }

    .card {
        max-width: 100%;
       padding: 10px;
    }

    .card h3 {
        font-size: 20px;
    }

    .card p {
        font-size: 15px;
    }
}
/* =========================
   PROJECTS PAGE LAYOUT
========================= */
.projects-section {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.projects-section h1 {
    font-size: 34px;
    padding-bottom: 20px;
}
.project-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    font-size: 14px;
    margin-bottom: 10px;
}

.project-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.project-images a {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
}
.project-images img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

    border: none;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    
    transition: all 0.3s ease; 
}

.project-images img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15); /* sombra mais forte ao passar o mouse */
}

.image-card {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.image-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.image-card .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: 500;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.image-card .overlay span {
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    transform: translateY(20px);
    transition: transform 0.3s ease;
}

/* Hover */
.image-card:hover img {
    transform: scale(1.08);
}

.image-card:hover .overlay {
    opacity: 1;
}

.image-card:hover .overlay span {
    transform: translateY(0);
}
.lb-close {
    opacity: 1 !important;
}



/*.project-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.2s;
}

.project-link:hover {
    background-color: #d94327;
}
*/

@media (max-width: 768px) {
    .project-images {
        grid-template-columns: 1fr; /* vira 1 coluna no mobile */
    }
}



/* =========================
   CONTACT PAGE LAYOUT
========================= */

.contact {
    background: rgb(235, 235, 230);
    min-height: 100vh;
  }

  .contact-container{
    max-width: 768px;
    margin: 50px auto;
    background: #f9f9f9;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  
  /* TEXTO */
  .contact-text h1 {
    font-size: 36px;
    color: rgb(129, 129, 92);
    margin-bottom: 20px;
  }
  
  .contact-text .subtitle {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
  
  .contact-text .description {
    font-size: 0.9rem;
    max-width: 360px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 40px;
  }
  
  .contact-text .email {
    margin-top: 40px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* FORM */
  .contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .form-row {
    display: flex;
    gap: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #999;
    background: transparent;
  }
  
  .contact-form textarea {
    min-height: 140px;
    resize: vertical;
  }
  
  /* BOTÃO */
  .contact-form button {
    width: 120px;
    margin-top: 20px;
    padding: 14px;
    background: #555;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }

  .contact-form button:hover{
    background-color:#444;
  }
  
  /* =========================
     RESPONSIVO
  ========================= */

@media (max-width: 768px)   {
.contact-container {
    grid-template-columns: 1fr; /* empilha texto e form */
    padding: 20px;
    gap: 30px;
}
.form-row {
    flex-direction: column; /* inputs em coluna */
}
.contact-form button {
    width: 100%; /* botão ocupa toda largura */
}
}

 /* =========================
     PROCESS
  ========================= */

#process {
    padding: 80px 20px;
    text-align: center;
    background-color: #f6f4f1;;
}

#process h2 {
    font-size: 34px;
    margin-bottom: 40px;
}
#process h2::after {
    content:"";
    display:block;
    width:60px;
    height:4px;
    background: #111;
    margin:12px auto 0;
    border-radius:2px;
}
.process-steps {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.process-step {
    max-width: 250px;
}

.process-step h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.process-step p {
    font-size: 0.95rem;
    color: #555;
}

 /* =========================
    CONTACT HOMEPAGE
  ========================= */

#contact {
    padding: 80px 20px;
    text-align: center;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#contact p {
    margin-bottom: 30px;
    font-size: 1rem;
}

.contact-button {
    display: inline-block;
    padding: 12px 28px;
    background-color: rgb(129, 129, 92);
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s ease;
}

.contact-button:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    .process-steps {
        flex-direction: column;
        align-items: center;
    }
}

/* =========================
        FOOTER
========================= */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  main {
    flex: 1;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    background-color: #555;
    color: #fff;
  }
  

  .footer p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  
  .footer-social {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 10px;
  }
  
  .footer-social a {
    font-size: 18px;
    color: #fff;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .footer-social a:hover {
    transform: translateY(-2px);
    opacity: 0.7;
  }
  
  /* =========================
        RESPONSIVO FOOTER
  ========================= */
  @media (max-width: 768px) {
    .footer {
      padding: 16px 8px;
    }
  
    .footer p {
      font-size: 13px;
    }
  
    .footer-social a {
      font-size: 16px;
    }
  }
